* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100vh;
	background-image: url("./assets/sombre_nature.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
